page-view {
    .watermark{
        position: absolute;
    
        z-index: 1;
        opacity: .3;
        // width: 80%;
        // transform: translateY(15%);
        // transform: translateX(15%)
        // transform:rotate(30deg);
    }
    .theGrid{
        z-index: 1000;
        background: red;
        display: block;
        float: center
    }
    .price{
        color: white;
        text-shadow: 0 0 4px black;
        text-align: center;
        position: absolute;
        padding-left: 50%;
        // transform: translateX(-10%)
    }
    .secondary{
        background: linear-gradient(rgba(0, 0, 0,0.4),rgba(0, 0, 0, 0));
        background-size: 100%;
        width: 100vw;
        margin-left: -10px;
    }
    .thePrices{
        float: right;
        color: rgb(250,179,53);
        // font-size: 12px;
        transition: 1s
    }
    .thePrices:active{
        float: right;
        color: white;
        // font-size: 12px;
    }
    .theWidth{
        width: 100vw;
        // border: 2px solid red;
    }
    .theImage{
        display: inline-block;
        width: 100%;
        // z-index: 1;
        // background: url('../../assets/imgs/Watermark/WaterMark.png');
        // z-index: 10000000;
    }
    .Caps-Lock{
        text-transform: capitalize;
      
    }
    #Location{
        color: grey;
        font-size: 12px;
        text-transform: capitalize;
    }
    .buy{
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        margin-top: 17px;
    } 
    .postedIMG{
        box-shadow: 0 0 1px grey;
        width: 100%;
        // max-width: 500px;
        text-align: center;
        object-fit: scale-down;
    }
    .statements{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
    .theStatements{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        display: block;
    }
    .statementa{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        text-transform: initial;
    }
    .post{
        box-shadow: 0 2px  5px grey;
        background: #011127;
        color: white;
    }
    .arter{
        background: #011127;
        color: white;
    }
    .caption{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
        text-transform: capitalize;
    }
    .artistName{
        text-transform: capitalize;
    }
    .chosenImage{
        width: 100%
    }
    #backBTN{
        position: absolute;
        z-index: inherit;
    }
    .ico{
        text-shadow: 0 0 5px black;
    }
    .head{
        // background: red;
        position: relative
    }
    .split{
        // border-bottom: 1px solid grey;
        z-index: 1;
        background: rgba(0, 78, 66, 0);
        color: black;
        transform: translateY(-25px)
        // box-shadow: inset 0px 5px 1px rgb(0,78,66);
    }
    .cart{
        position: absolute;
        // display: block;
        // margin-top: 20px;
        z-index: 1;
        // margin-left: -50px;
    }
    .artist{
        position: absolute;
        margin-top: -35px;
        z-index: -2;
        // border: 2px solid red;
        background: #323787;
        color: white;
    }
    .avatar{
        position: relative;
        margin-top: -100px;
    }
    .comment{
        border: 2px saturate($color: #000000, $amount: 1) solid deepskyblue;
    }
    .pay{
        padding: 1px;
        // transform: rotate(30deg);
    }
    .viewerComment{
        width: 100%;
        // background: green;
    }
    .sendBtn{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        font-size: 12px;
        margin-top: 0px;
    }
    .alignment{
        text-align: center;
    }
    #commentTXT{
        border: 1px solid rgb(194, 194, 194);
        height: 40px;
        // padding-top: -10px;
        border-radius: 40px;
        width: 100%;
        padding-left: 10px;
    }
    ion-footer {
        &.footer-md::before {
            background-image: none;
        }
    }
    .footItem{
        background: rgba(255, 0, 0, 0);
        
    }
    .artistAvatar{
        background: rgba(255, 0, 0, 0)
    }
    .price{
        text-align: right;
        color:white;
       
    }
    .theComments{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .postedIMG{
        width: 100%;
        z-index: -100000;
        max-height: 650px;
        object-fit: cover;
        display: inline-block;
    }
    @media screen and (max-width: 320px){
        .postedIMG{
            width: 100%
        }
        #backBTN{
            position: absolute;
            z-index: inherit;
        }
        .ico{
            text-shadow: 0 0 5px black;
        }
        .head{
            // background: red;
            position: relative
        }
        .split{
            // border-bottom: 1px solid grey;
            z-index: 1;
            background: rgba(0, 78, 66, 0);
            color: black;
            transform: translateY(-25px)
            // box-shadow: inset 0px 5px 1px rgb(0,78,66);
        }
        .cart{
            width:50px;
            height: 50px;
            border-radius: 50px;
        }
        .artist{
            position: absolute;
            margin-top: -35px;
            z-index: -2;
            // border: 2px solid red;
            background: #323787;
            color: white;
        }
        .avatar{
            position: relative;
            margin-top: -100px;
            border: 2px solid red;
        }
        .comments{
            padding-top: 50%;
            // background: red;
        }
        .viewerComment{
            width: 100%;
            // background: green;
            padding-top: 30px;
        }
        .statement{
            width: 100%;
            background: white;
            box-shadow: 0 2px 5px black;
            color: black;
        }
        .sendBtn{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            font-size: 12px;
        }
        ion-footer {
            &.footer-md::before {
                background-image: none;
            }
        }
        .footItem{
            background: rgba(255, 0, 0, 0);
            
        }
        .artistAvatar{
            background: rgba(255, 0, 0, 0)
        }
    }
    @media screen and (min-width: 500px){
        .sendBtn{
            text-align: center;
            margin: 0 auto;
        }
        .centerIt{
            text-align: center;
        }
        .postedIMG{
            width: 100vw;
            height: 750px;
        }
    }

    .overlay{
        background: rgba(255, 255, 255, 0.247);
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        z-index: 1000000000000000000000000000000000000000000000000;
        transition: 700ms;
    }
}