<ion-content (ionScroll)="scroll($event)" class="content">
  <ion-fab left class="theWidth" id="back">
    <div class="secondary">
      <ion-buttons left>
        <button ion-button clear icon-only color="light" (click)="GoBackToCategory()">
          <ion-icon class="ico" name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>



    </div>
  </ion-fab>

  <div class="post">

    <div class="theImage">
      <img class="watermark" src="../../assets/imgs/Watermark/WaterMark.png" alt="">
      <img class="postedIMG" (load)="scan($event)" src="{{downloadurl}}" />
    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <ion-item color="light" class="arter" no-lines>
            <ion-avatar item-start>
              <img src="{{downloadurl1}}" />
            </ion-avatar>
            <h2 class="artistName">{{name}}
              <br>
            </h2>
            <p id="Location">
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon> {{location}}
            </p>

          </ion-item>
        </ion-col>
        <ion-col col-3>
          <p class="thePrices">
            {{price | currency : 'ZAR'}}
          </p>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="title">
      <h4 class="caption">{{username}}</h4>
      <p class="statementa">
        {{description}}
      </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button class="statements" ion-button color={{clr}} clear (click)="likePicture()"> {{numlikes}} Likes</button>
          </ion-col>
          <ion-col>
            <button ion-button class="statements" clear>{{numComments}} Comments</button>
          </ion-col>
          <ion-col>
            <button class="theStatements" block outline ion-button (click)="BuyArt(downloadurl,username,key,url,comments,email,name,description,location,price,likes,name1,uid,currentUserId)">
              <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> ORDER
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div>
    <ion-list *ngFor="let a of CommentArr">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="a.downloadurl">
          </ion-avatar>
          <h2 class="Caps-Lock">{{a.username}}</h2>
          <p>{{a.date}}</p>
        </ion-item>
        <ion-card-content>
          <p>{{a.comment}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
<ion-footer no-padding>
  <ion-toolbar>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" [(ngModel)]="comment" placeholder="Comment" (ionChange)="enable($event)" id="commentTXT"></ion-input>
      </ion-col>
      <ion-col col-2 class="centerIt">
        <div class="overlay"></div>
        <button ion-button class="sendBtn" item-end icon-only large (click)="CommentPic(numComments)" >
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>