page-forgot-password {
    .container{
        background: linear-gradient(rgba(1, 17, 39, 0.562),rgba(1, 17, 39, 0.9)),
        url('../../assets/imgs/BG.jpg')
        ;
        background-position: bottom;
        // background-size:cover;
        
    }
    .theForm{
        width: 100%;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
        padding-top: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .contents{
        background: rgba(255, 255, 255, 0.082);
        box-shadow:  0 0px 15px rgba(0, 0, 0, 0.479);
        padding: 20px;
        border-radius: 5px;
        animation: 1.2s bounceInUp;
        transition: 1s;
        color: white;
        button{
            color: color($colors, secondary, base);
            text-transform: capitalize;
        }
    }
    .theTXT{
        // border: 1px solid grey;
        border-radius: 5px;
        border-bottom: 2px solid rgb(250,179,53);
        color: rgb(250,179,53);
        padding-left: 10px;
    }
    .theTXT::placeholder{
        color: red
    }
    
    .helptext{
        color: red;
        font-weight: bold
    }
    form{
        // width:90%;
    }
    ion-title{
        position: absolute;
        top: 15px;
        left:50%;
        transform: translateX(-50%) 
    }
    
    // ion-input{
    //     width: 85%;
    //     margin: 0 auto;
    // }
    .logo{
        height: 0px;
        // border: 2px solid red;
        text-align: center;
        img{
            height: 120px;
            // position: absolute;
            animation: resizer 400ms linear;
        }
    }
    @keyframes resizer {
        0%{
            height: 150px;
            opacity: 0;
        }
        25%{
            
            opacity: 0;
        }
        100%{
            opacity: 1;
            height: 120px;
        }
    }
}