page-category {

    .no-data{
        padding-top: 50%;
        transform: translateY(-5%);
        text-align: center;
        font-weight: bold;
    }
    .emoji{
        // transform: rotate(90deg
        font-size: 25px;
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }


    .Caps-Lock{
        text-transform: capitalize;
    }
    .buyersIcon{
        // width: 20px;
        // height: 20px;
    }
    #gotoTop{
        width: 30px;
        height: 30px;
        border-radius: 40px;
        transform: rotate(90deg)
    }
    #User{
        font-weight: bold;
        font-size: 0.7em;
    }
    .smaller{
        font-size: 11px;
    }
    .artist-name{
        font-size: 12px;
        font-weight: bold;
    }
    .details{
        margin: 0 auto;
        width: 48.5vw;
        background: white;
        height: 50px;
        margin-top: -4%;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 5px 10px grey;
        box-shadow:  0 3px 5px grey;
        z-index: 1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .theImg{
        height: 29vh;
        max-height: 300px;
        width: 53vw;
        padding-left: 2px;
        padding-right: 2px;
        margin-top:5px;
        object-fit: cover;
        z-index: 1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: inset 0 0px 5px grey;
    }
    .shift{
        height: 5px;
    }
    .col{
        border: 2px solid white;
    }
    #gotoTop{
        width: 30px;
        height: 30px;
        border-radius: 40px;
    }
    ion-grid{
        margin: 0%;
        padding: 0%;
        width: 100%;
        max-width: 550px;
    }
    ion-row{
        margin: 0%;
        padding: 5px;
    }
    ion-col{
        margin: 0%;
    }
    #images{
        height: 29vh;
        max-height: 300px;
        width: 53vw;
        padding-left: 2px;
        padding-right: 2px;
        object-fit: cover;
    }
    .person{
        width: 48px;
        height: 48px;
        border-radius: 40px;
    }
    .head{
        // height: 40px;
        // padding-top: -10px;
        border: .5px solid rgb(134, 134, 134);
        border-radius: 10px;
        margin-right: 5px;
    }
    .CatBar{
        padding-right: 10px;
        width: 100%;
    }
    .animation{
        animation: 1.2s slideInDown;
    }
    #start{
        transition: 700ms;
           
    }
    a{
        text-decoration: none;
        font-size: 20px;
        padding-top: 5px;
    }
    .dp{
        height: 35px;
        object-fit: cover;
        width: 35px;
        border-radius:50%;
    }
    @media screen and (min-width: 550px){
        .smaller{
            font-size: 11px;
        }
        .artist-name{
            font-size: 12px;
            font-weight: bold;
        }
        .details{
            margin: 0 auto;
            width: 49vw;
            max-width: 271px;
            background: white;
            height: 50px;
            margin-top: -4%;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            box-shadow: 0 5px 10px grey;
            box-shadow: inset 0 -3px 5px grey;
            z-index: 1;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .theImg{
            height: 29vh;
            max-height: 300px;
            width: 53vw;
            padding-left: 2px;
            padding-right: 2px;
            margin-top:5px;
            object-fit: cover;
            z-index: 1;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: inset 0 0px 5px grey;
        }
        .shift{
            height: 5px;
        }
        .col{
            border: 2px solid white;
        }
       #gotoTop{
            width: 30px;
            height: 30px;
            border-radius: 40px;
        }
        ion-grid{
            margin: 0%;
            padding: 0%;
            width: 100%;
            max-width: 550px;
        }
        ion-row{
            margin: 0%;
            padding: 5px;
        }
        ion-col{
            margin: 0%;
        }
        #images{
            height: 29vh;
            max-height: 300px;
            width: 53vw;
            padding-left: 2px;
            padding-right: 2px;
            object-fit: cover;
        }
        .person{
            width: 40px;
            height: 40px;
            border-radius: 40px;
        }
        #start{
            transition: 700ms;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            padding-top: 5px;
        }
        .dp{
            // height: 35px;
            // width: 35px;
            object-fit: cover;
            border-radius:50%;
        }
    }
}