<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{artName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body">
  <div class="image">

    <img class="watermark" src="../../assets/imgs/Watermark/WaterMark.png" alt="">
    <img id="wanted" src="{{downloadurl}}">
    <ion-list>
      <ion-item no-lines>
        <ion-avatar item-start >
          <img src="{{tempdownloadurl}}" alt="">
        </ion-avatar>
        <h2>{{tempName}}</h2>
        <p>REF #{{tempName2}}</p>
      </ion-item>
    </ion-list>
  
    <ion-card class="buyer">
      <ion-item class="myName">
        <ion-avatar item-start>
          <img src="{{tempdownloadurl}}">
        </ion-avatar>

      </ion-item>
    </ion-card>

  </div>
  <div padding>
    <ion-list>
      <div *ngFor="let a of arrMsg" class="wrapper">
        <div class="cont">
          <div *ngIf="a.uid === currentUserId" class="flexer">
            <div class="conter">
              <div class="sender">
                <div class="innermsg2">
                  <!-- <div class="msgSent"> -->
                  <p class="toFlip">{{a.message}}</p>
                  <p class="refSent">{{a.time}}</p>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div *ngIf="a.uid !== currentUserId" class="flexer">
            <div>
              <!-- <div class="msgReceived"> -->
              <div class="innermsg">
                <p class="message">{{a.message}}</p>
                <br>
                <p class="refReciev">{{a.time}}</p>
              </div>
              <!-- </div> -->
              <br>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer no-padding class="footer">
  <ion-toolbar>
    <ion-row>
      <ion-col col-10>
        <ion-textarea rows="1" type="text" [(ngModel)]="message" placeholder="Message here..." id="commentTXT"></ion-textarea>
      </ion-col>
      <ion-col col-2 class="centerIt">
        <button ion-button class="sendBtn" mini item-end icon-only (click)="send()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>