page-profile {
    .empty1{
        height: 150px;
    }
    .no-data{
        // padding-top: 50%;
        // transform: translateY(-5%);
        text-align: center;
        font-weight: bold;
    }
    .emptycontent{
        text-align: center;
        // position: absolute;
    }
    .emoji{
        // transform: rotate(90deg
        font-size: 25px;
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .threeDots{
        font-size: 20px;
    }
    color: white;
    .remover{
        margin-left: 5px;
        margin-top: 5px;
        position: absolute;
        height: 35px;
        border-radius: 30px;
        border: 2px solid white;
        width: 35px;
        color:white;
        font-weight: bold;
        text-align: center;
        padding-top: 7px;
        background: rgba(0,0,0,0.5);
    }
    .artist-name{
        text-transform: uppercase;
    }
    .Caps-Lock{
        text-transform: capitalize;
    }
    .lowerCase{
        text-transform: lowercase;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        padding-top: 5px;
    }
    #gotoTop{
        width: 30px;
        height: 30px;
        border-radius: 40px;
        transform: rotate(90deg)
    }
    .bio{
        padding: 20px;
        color: white;
        font-size: 11px;
        // border-top: 0.5px solid white;
        width: 100%;
    }
    .displayPhoto{
        text-align: left;
        // border-right: 1px solid white;
        padding-right: 16px;
    }
    .head{
        background: #011127;
    }
    
    @media screen and (max-width: 414px){
        .icons{
            height: 20px;
            min-height: 250px;
            margin: 0 auto;
           
        }
    
        .social{
            margin: 0 auto;
            // border: 2px solid red;
            width: 300px;
            text-align: center;
        }
    
    
        .image{
            width: 200px;
            height: 170px;
            object-fit: cover;
            box-shadow: 0 0 4px grey;
            border-radius:5px;
        }
        .cont{
            background: white;
            animation: 1s slideInRight;
            animation: 1s fadeIn;
            box-shadow: 0px 0px 15px black;
        }
        .edit{
            animation: 0.5s slideInRight;
            // color: black;
        }
        .signOut{
            // margin-top: 40px;
            // margin-right: -100px;
            animation: 1.5s slideInRight;
            // color: black;
        }
        .moreFAB{
            margin-top: -12px;
            margin-right: -12px;
            box-shadow: 0px 3px 5px rgb(35,39,127);
        }
        p{
            text-align: left;
        }
        h3{
            text-align: right
        }
        .list{
            color: white;
        }
        h3{
            font-family: calibri;
            text-align: left;
        }
        .m{
            height: 100px;
            width: 100px;
            border-radius: 150px;
            margin:0 auto;
            object-fit: cover;
            text-align: right;
            display: block;
        }
        .addBtn{
            height: 20px;
            width: 30px;
            
        }
        #divider{
            height: 30px;
        }
        #head{
            margin-top:50px;
            color: white;
        }        
        .uploadBtn{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    
        .head{
            box-shadow: 0px 0px 10px black;
            padding-bottom: 10px;
        }
        .split{
            // border: 2px  solid deepskyblue;
            height: 30px;
            background: rgb(255, 255, 255);
            color: black;
            text-align: center;
            padding-top: 5px;
            // box-shadow: inset 0px 5px 1px rgb(0,78,66);
        }  
    
        // ion-col{
        //     border:2px solid red;
        // }
        .displayPhoto{
            width: 25%;
        }
        .personal-details{
            text-align: left;
            color: white;
            // border: 2px solid blue
        }
    
    }
    
    @media screen and (min-width: 415px){
        .icons{
            height: 20px;
            color: white;
        }
        .editICO{
            font-size: 12px;
        }
        h3{
            color: white;
        }
        ion-navbar {
            box-shadow: 0 2px 10px #011127;
        }
        ion-header{
             box-shadow: 0 2px 10px #011127;
        }
        .outline{
            text-align: center
        }
        .contents{
            padding-top: 15px;
            margin: 0 auto;
        }
    
        .social{
            margin: 0 auto;
            // border: 2px solid red;
            width: 300px;
            text-align: center;
        }
    
    
        .image{
            width: 100%;
            height: 100%;
            border-radius:12px;
            max-width: 750px;
            // max-height: 250px;
            object-fit: cover;
            box-shadow: 0 0 4px grey;
        }
        .cont{
            background: white;
            animation: 1s slideInRight;
            animation: 1s fadeIn;
            box-shadow: 0px 0px 15px black;
        }
        .edit{
            animation: 0.5s slideInRight;
            // color: black;
        }
        .signOut{
            // margin-top: 40px;
            // margin-right: -100px;
            animation: 1.5s slideInRight;
            // color: black;
        }
        .moreFAB{
            margin-top: -12px;
            margin-right: -12px;
            box-shadow: 0px 3px 5px rgb(35,39,127);
        }
        p{
            // text-align: center;
            font-family: 14px;
        }
        h3{
            text-align: right
        }
        .head{
            background: #011127
        }
        .list{
            color: white;
        }
        h3{
            font-family: calibri;
        }
        .m{
            height: 150px;
            width: 150px;
            border-radius: 150px;
            float: right;
        }
        .addBtn{
            height: 20px;
            width: 30px;
            
        }
        #divider{
            height: 30px;
        }
        #head{
            margin-top:50px;
            color: white;
        }        
        .uploadBtn{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    
        .head{
            // box-shadow: 0px 30px 5px black;
            padding-bottom: 10px;
        }
        .split{
            // border: 1px solid deepskyblue;
            height: 30px;
            color: black;
            text-align: center;
            padding-top: 5px;
            // box-shadow: inset 0px 5px 1px rgb(0,78,66);
        }
    
        .btnIcon{
            height: 50px;
            width: 50px;
            border-radius: 50px;
            border-left: 1px solid grey;
            margin-top: 0px;
    
        }
        ion-grid{
            width: 100%;
            max-width: 750px;
            color: white;
        }
        .personal-details{
            text-align: left;
        }
        .uploads{
            margin: 0%;
            padding: 0%;
            width: 100%;
            max-width: 550px;
            margin: 0 auto;
        }
    }
    
    
    }
    
    