page-chats {
    .scrollContent{
        padding-top: 50%;
        transform: translateY(-25%);
        text-align: center;
    }
    .italics{
        position: absolute;
        font-size: 13px;
        bottom: 15px;
        color: grey
    }
    .italics1{
        position: absolute;
        font-size: 13px;
        right: 10px;
        top: 30px;
    }
    .body{
        background: whitesmoke;
    }
    .client{
        box-shadow: 0 5px 5px rgba(1, 17, 39, 0.24);
        border-radius: 10px;
        text-align: left;
        position: relative;
        padding-right: 10px;
        height: 80px;
    }
    .cover{
        width: 30px;
        height: 30px; background: white;
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
    }
    .secondary{
        background: linear-gradient(rgba(0, 0, 0,0.4),rgba(0, 0, 0, 0));
        background-size: 100%;
        width: 100vw;
        margin-left: -10px;
    }
    .caps{
        text-transform: capitalize;
        font-weight: bolder;
        width: 100px;
        
    }
    .no-data{
        margin-top:40%;
    }
    p{
        text-align: center;
    }
    #commentTXT{
        border: 1px solid rgb(194, 194, 194);
        // height: 40px;
        // padding-top: -10px;
        border-radius: 40px;
        width: 100%;
        padding-left: 10px;
    }
    @media screen and (min-width: 500px){
        .sendBtn{
            text-align: center;
            margin: 0 auto;
        }
        .centerIt{
            text-align: center;
        }
    }
}
