page-pop-over-profile {
    .content{
        padding: 10px;
        top: 50%
    }
    .btn{
        height: 30px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        width: 100%;
    }
}
