<ion-content class="container">
  <div>
    <button ion-button class="backBTN" icon-only (click)="dismiss()" clear>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </div>
  <form class="everything" name="me">
    <div class="logo">
      <img src="../../assets/imgs/theLogo/ANTZ Logo.png" alt="">
    </div>
    <div class="items">
      <ion-list no-lines>
        <div class="textFields">

          <ion-input name="fName" #fName="ngModel" type="text" placeholder="Username" ngModel required></ion-input>
          <span *ngIf="!fName.valid && fName.touched" class="help-block helptext">Please enter your username</span>
          <ion-input name="email" #email="ngModel" type="email" placeholder="Email" ngModel required></ion-input>
          <span *ngIf="!email.valid && email.touched" class="help-block helptext">Please enter your email</span>
          <ion-input type="password" name="password" #password="ngModel" minlength="6" placeholder="Password (min 6 char)"
            required ngModel></ion-input>
          <span *ngIf="!password.valid && password.touched" class="help-block helptext">Please enter password</span>
          <!-- <span ng-if="!me.password.$valid">Password is too short</span>       -->
        </div>
      </ion-list>
      <button id="button" ion-button block (click)="signUp(fName.value, email.value,password.value)">
        Sign Up
      </button>
    </div>
    <br>
  </form>
</ion-content>