page-upload-image {
    .BTNs{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    .options{
        
        background: rgb(255, 255, 255);
        width: 100%;
        height: 500px;
        box-shadow: 0 0 5px black;
        position: absolute;
        top: 10vh;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px; 
    }
    ion-footer{
        height: 0px;
    }
    // ion-col{
    //     text-align: center;
    // }
    .image{
        // border: 2px solid red;
        text-align: center;
        width: 180px;
        margin: 0 auto;
    }
    #tit{
        margin-left: -20px;
    }
    #insert{
        display: none;
    }
    
    .btn{
        width: 35px;
        height: 35px;
        color: white;
        // border-radius: 30px;
        background: #fab335;
        position: absolute;
        margin-left: 145px;
        margin-top: 145px;
        transition: 300ms;
        box-shadow: 0 3px 150px grey;
        z-index: 100000000;
    }
    .btn:active{
        width: 35px;
        height: 35px;
        color: white;
        // border-radius: 30px;
        background: #ffa200;
        position: absolute;
        margin-left: 145px;
        margin-top: 145px;
    }
    .theItem{
        border: 1px solid grey;
        padding-left: 10px;
        background: #011127;
        color: #fab335;
        
    }
    .preview{
        width: 180px;
        height: 180px;
        object-fit: cover;
        margin: 0 auto;
        border-bottom-right-radius: 17.5px;
    }
    .closeBtn{
        font-size: 20px;
        font-weight: bold;
        // position: absolute;
        margin-top: 0px;
        // -webkit-text-stroke: 1px white;
        
    }
    #attach{
        padding-top: 50px;
        font-size: 25px;
    }
    .cat{
        // border: 1px solid grey;
        margin-top: 10px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    // ion-item{
    //     width: 100%;
    //     max-width: 500px;
    //     margin: 0 auto
    // }
    ion-label{
        width: 20px;
        font-size: 15px;
    }
    .uploadBtn{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    @media screen and (min-width: 550px){
        .container{
            background: linear-gradient(#011127, #01112700);
        }
        .container{
            padding-top: 50%;
        }
        .body{
            transform: translateY(-30%)
        }
    ion-item{
        width: 100%;
        max-width: 500px;
        float: center
    }
    }
}